<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-color: #000000;
        background-image: url(world.gif);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    /* Make the text big */
    h1 {
        font-size: 7em;
        color: #ffffff;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>World</title>
</head>
<body>
<h1  >HOLA MUNDO</h1>
</body>
</html>
